Repository Hajsru/fw-backendless-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix, jpegoptim --strip-all --all-progressive -pm85, optipng -strip all -o4, svgo

.lintstagedrc:

{
  "*.ts": [
    "prettier --write",
    "tslint --fix",
    "git add"
  ],
  "*.scss": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{jpg,jpeg}": [
    "jpegoptim --strip-all --all-progressive -pm85",
    "git add"
  ],
  "*.png": [
    "optipng -strip all -o4",
    "git add"
  ],
  "*.svg": [
    "svgo",
    "git add"
  ]
}

feat: Первая версия
  .stylelintrc
  README.md
  angular.json
  firebase.json
  package.json
  projects/ha-js-admin/src/app/reports-page/reports-page.component.ts
  projects/ha-js-admin/src/app/speakers-page/speakers-page.component.ts
  projects/ha-js-app/ngsw-config.json
  projects/ha-js-app/src/app/app.component.css
  projects/ha-js-app/src/app/app.component.scss
  projects/ha-js-app/src/app/app.module.ts
  projects/ha-js-app/src/app/aside/aside.component.css
  projects/ha-js-app/src/app/aside/aside.component.html
  projects/ha-js-app/src/app/aside/aside.component.scss
  projects/ha-js-app/src/app/events-page/events-page.component.css
  projects/ha-js-app/src/app/events-page/events-page.component.scss
  projects/ha-js-app/src/app/item/item.component.css
  projects/ha-js-app/src/app/item/item.component.scss
  projects/ha-js-app/src/app/rating/rating.component.css
  projects/ha-js-app/src/app/rating/rating.component.scss
  projects/ha-js-app/src/app/report-page/report-page.component.css
  projects/ha-js-app/src/app/report-page/report-page.component.scss
  projects/ha-js-app/src/app/reports-page/reports-page.component.css
  projects/ha-js-app/src/app/reports-page/reports-page.component.scss
  projects/ha-js-app/src/app/speakers-page/speakers-page.component.css
  projects/ha-js-app/src/app/speakers-page/speakers-page.component.scss
  projects/ha-js-app/src/assets/icons/icon-128x128.png
  projects/ha-js-app/src/assets/icons/icon-144x144.png
  projects/ha-js-app/src/assets/icons/icon-152x152.png
  projects/ha-js-app/src/assets/icons/icon-192x192.png
  projects/ha-js-app/src/assets/icons/icon-384x384.png
  projects/ha-js-app/src/assets/icons/icon-512x512.png
  projects/ha-js-app/src/assets/icons/icon-72x72.png
  projects/ha-js-app/src/assets/icons/icon-96x96.png
  projects/ha-js-app/src/environments/environment.prod.ts
  projects/ha-js-app/src/index.html
  projects/ha-js-app/src/manifest.json
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint --fix, stylelint --fix, optipng -strip all -o4

feat: Add cache-control to images
  projects/ha-js-admin/src/app/app-routing.module.ts
  projects/ha-js-app/src/app/app-routing.module.ts
  projects/ha-js-app/src/app/app.module.ts
  projects/ha-js-app/src/app/item/item.component.html
  projects/ha-js-app/src/app/item/item.component.ts
  projects/ha-js-app/src/app/reports-page/reports-page.component.css
  projects/ha-js-app/src/app/reports-page/reports-page.component.html
  projects/ha-js-app/src/app/reports-page/reports-page.component.spec.ts
  projects/ha-js-app/src/app/reports-page/reports-page.component.ts
  projects/ha-js-app/src/app/speakers-page/speakers-page.component.html
  projects/ha-js-core/src/lib/report.service.ts
  projects/ha-js-core/src/lib/speaker.service.ts
Due: prettier --write, tslint --fix

feat: Add app speakers page
  projects/ha-js-app/src/app/app-routing.module.ts
  projects/ha-js-app/src/app/app.component.ts
  projects/ha-js-app/src/app/app.module.ts
  projects/ha-js-app/src/app/aside/aside.component.ts
  projects/ha-js-app/src/app/events-page/events-page.component.ts
  projects/ha-js-app/src/app/item/item.component.html
  projects/ha-js-app/src/app/item/item.component.ts
  projects/ha-js-app/src/app/speakers-page/speakers-page.component.css
  projects/ha-js-app/src/app/speakers-page/speakers-page.component.html
  projects/ha-js-app/src/app/speakers-page/speakers-page.component.spec.ts
  projects/ha-js-app/src/app/speakers-page/speakers-page.component.ts
Due: prettier --write, tslint --fix

fix: Readme
  README.md
Due: none

feat: Add comments
  projects/ha-js-app/src/app/item/item.component.html
  projects/ha-js-app/src/app/report-page/report-page.component.html
  projects/ha-js-app/src/app/report-page/report-page.component.ts
  projects/ha-js-core/src/lib/comment.ts
  projects/ha-js-core/src/lib/report-comment.service.spec.ts
  projects/ha-js-core/src/lib/report-comment.service.ts
  projects/ha-js-core/src/public_api.ts
Due: prettier --write, tslint --fix

feat: Add video to reports
  projects/ha-js-admin/src/app/report-dialog/report-dialog.component.html
  projects/ha-js-admin/src/app/report-dialog/report-dialog.component.ts
  projects/ha-js-admin/src/app/reports-page/reports-page.component.ts
  projects/ha-js-admin/src/app/speaker-dialog/speaker-dialog.component.html
  projects/ha-js-app/src/app/app-routing.module.ts
  projects/ha-js-app/src/app/app.component.ts
  projects/ha-js-app/src/app/app.module.ts
  projects/ha-js-app/src/app/aside/aside.component.ts
  projects/ha-js-app/src/app/events-page/events-page.component.ts
  projects/ha-js-app/src/app/item/item.component.html
  projects/ha-js-app/src/app/item/item.component.ts
  projects/ha-js-app/src/app/rating/rating.component.css
  projects/ha-js-app/src/app/rating/rating.component.html
  projects/ha-js-app/src/app/rating/rating.component.spec.ts
  projects/ha-js-app/src/app/rating/rating.component.ts
  projects/ha-js-app/src/app/report-page/report-page.component.css
  projects/ha-js-app/src/app/report-page/report-page.component.html
  projects/ha-js-app/src/app/report-page/report-page.component.spec.ts
  projects/ha-js-app/src/app/report-page/report-page.component.ts
  projects/ha-js-app/src/app/reports-page/reports-page.component.html
  projects/ha-js-app/src/app/reports-page/reports-page.component.ts
  projects/ha-js-app/src/app/speakers-page/speakers-page.component.ts
  projects/ha-js-core/src/lib/report-helper.service.spec.ts
  projects/ha-js-core/src/lib/report-helper.service.ts
  projects/ha-js-core/src/lib/report.service.ts
  projects/ha-js-core/src/public_api.ts
Due: prettier --write, tslint --fix

enable tab synchorization
  projects/ha-js-core/src/lib/ha-js-core.module.ts
Due: prettier --write, tslint --fix
